@import "../../../scss/bourbon/bourbon";
@import "../../../scss/neat/neat";

/////

$em-base: 16px;
$font-size-root: $em-base;
$font-family: 'Open Sans',Helvetica Neue,Arial,游ゴシック,YuGothic,Noto Sans,Hiragino Sans,Hiragino Kaku Gothic ProN,ヒラギノ角ゴ ProN W3,メイリオ,Meiryo,sans-serif;

$size-base: 8px;

// color
$color50: #fafafa;
$color100:#f5f5f5;
$color200:#eeeeee;
$color300:#e0e0e0;
$color400:#bdbdbd;
$color500:#9e9e9e;
$color600:#757575;
$color700:#616161;
$color800:#424242;
$color900:#212121;

$text-color: $color200;
$bg-color: $color800;

/////

// @include selection {
//     background: $color300;
// }

html {
    font-size: $font-size-root;
    @include box-sizing(border-box);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-overflow-scrolling: touch;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font: {
        size: 100%;
        family: $font-family;
    }
    color: $text-color;
    background-color: $bg-color;
    @include user-select(none);
}

/////

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-form {
    text-align: center;

    label {
        cursor: pointer;
    }
}

.login-logo {
    margin-bottom: 1rem;
    svg {
        @include size($size-base * 16);
        fill: $color600;
    }
}


.form-group {
    font-size: .85em;
    margin-bottom: .5rem;
}

.login-user,
.login-pass {
    border: none;
    border-radius: ($size-base / 2);
    padding: $size-base;
    width: ($size-base * 30);
    background: lighten($bg-color, 10%);
    @include transition(background .3s ease-in-out);

    &:focus {
        background: lighten($bg-color, 20%);
    }
}

.login-submit {
    color: $color900;
    margin-top: .5em;
    padding: $size-base;
    border: none;
    border-radius: ($size-base / 2);
    width: ($size-base * 25);
    background: $color400;
    transition: background .3s, transform .1s;

    &:hover {
        background: $color300;
    }
    &:active {
        transform: scale(0.95);
    }
}
